@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic|Open+Sans:400italic,600italic,400,600);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*====================================
=            Font Imports            =
====================================*/
/*==============================
=            Colors            =
==============================*/
/*==================================
=            Typography            =
==================================*/
/*===================================
=            Base Sizing            =
===================================*/
/*============================
=            Base            =
============================*/
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-family: 'Gentium Basic', serif;
  font-size: 1em;
  line-height: 1.5; }

/*================================
=            Headings            =
================================*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  margin: 0.3em 0 0.75em 0; }

h1 {
  font-size: 3.051em; }

h2 {
  font-size: 2.441em; }

h3 {
  font-size: 1.953em; }

h4 {
  font-size: 1.563em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

/*==============================
=            Anchor            =
==============================*/
a {
  text-decoration: none;
  color: #e74c3c; }
  a:hover, a:active, a:focus {
    outline: none;
    color: #b83c30; }

/*=========================================
=            Blockquote & Cite            =
=========================================*/
blockquote {
  margin: 1.5em 0;
  color: #636363;
  padding: 0.75em 0 0.75em 1.5em;
  border-left: 3px solid #e5e5e5; }
  blockquote cite {
    display: block;
    font-style: italic; }
    blockquote cite:before {
      content: "\2014";
      margin: 0 0.75em 0 0; }

/*==================================
=            Code & Pre            =
==================================*/
code, pre {
  background: #e5e5e5;
  border-radius: 3px; }

pre {
  margin: 1.5em 0;
  padding: 0.75em 1.5em; }

/*==========================
=            hr            =
==========================*/
hr {
  border: none;
  height: 1px;
  background: #e5e5e5;
  margin: 1.5em 0; }

/*=============================
=            Lists            =
=============================*/
ul, ol {
  margin: 1.5em 0;
  padding: 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 1.5em; }

/*========================================
=            Definition Lists            =
========================================*/
dl {
  margin: 1.5em 0; }

dt {
  font-weight: bold;
  margin: 1.5em 0; }

/*=================================
=            Modifiers            =
=================================*/
ul.blank {
  list-style-type: none; }
  ul.blank ul, ul.blank ol {
    list-style-type: none; }

nav ul > li, ul.inline > li {
  display: inline-block;
  margin: 0 1.5em; }
  nav ul > li:first-of-type, ul.inline > li:first-of-type {
    margin-left: 0; }
  nav ul > li:last-of-type, ul.inline > li:last-of-type {
    margin-right: 0; }

/*==============================
=            Tables            =
==============================*/
table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  width: 100%; }

th {
  font-weight: bold;
  padding: 0.75em;
  text-align: left;
  background: #f4f4f4;
  border: 1px solid #e5e5e5; }

td {
  padding: 0.75em;
  border: 1px solid #e5e5e5; }

tr, td, th {
  vertical-align: middle; }

caption {
  font-weight: bold;
  padding: 0.75em;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  background: #ffffff; }

/*============================
=            Form            =
============================*/
form {
  font-family: 'Gentium Basic', serif; }

/*================================
=            Fieldset            =
================================*/
fieldset {
  margin: 0 0 1.5em 0;
  padding: 1.5em;
  border-radius: 3px; }
  fieldset legend {
    padding: 0 0.75em; }

/*==============================
=            Labels            =
==============================*/
label {
  display: block; }

/*===================================
=            Text Inputs            =
===================================*/
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  border: 1px solid #e5e5e5;
  padding: 0.75em;
  border-radius: 3px;
  outline: none;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover {
    border-color: #b7b7b7; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus {
    border-color: #2980b9; }
    input[type="color"]:focus:invalid, input[type="date"]:focus:invalid, input[type="datetime"]:focus:invalid, input[type="datetime-local"]:focus:invalid, input[type="email"]:focus:invalid, input[type="month"]:focus:invalid, input[type="number"]:focus:invalid, input[type="password"]:focus:invalid, input[type="search"]:focus:invalid, input[type="tel"]:focus:invalid, input[type="text"]:focus:invalid, input[type="time"]:focus:invalid, input[type="url"]:focus:invalid, input[type="week"]:focus:invalid, textarea:focus:invalid {
      border-color: #e74c3c; }
    input[type="color"]:focus:valid, input[type="date"]:focus:valid, input[type="datetime"]:focus:valid, input[type="datetime-local"]:focus:valid, input[type="email"]:focus:valid, input[type="month"]:focus:valid, input[type="number"]:focus:valid, input[type="password"]:focus:valid, input[type="search"]:focus:valid, input[type="tel"]:focus:valid, input[type="text"]:focus:valid, input[type="time"]:focus:valid, input[type="url"]:focus:valid, input[type="week"]:focus:valid, textarea:focus:valid {
      border-color: #2ecc71; }

/*======================================
=            Specific Input            =
======================================*/
input {
  max-width: 100%;
  margin: 0 0 1.5em 0; }

input[type=color] {
  height: 50px; }

input[type=range] {
  width: 100%;
  padding: 0.75em 0; }

input[type=file] {
  width: 100%;
  padding: 0.75em 0; }

select {
  border: 1px solid #e5e5e5;
  background: #ffffff;
  width: 100%;
  padding: 0.75em; }

textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 1.5em; }

/*===============================
=            Buttons            =
===============================*/
input[type=submit], input[type=reset] {
  width: 100%; }

/*===================================
=            Base Button            =
===================================*/
button, .button, input[type=submit], input[type=reset] {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 1.5em 0;
  color: #212121;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 0.75em;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif; }
  button:hover, button:focus, .button:hover, input[type=submit]:hover, input[type=reset]:hover, .button:focus, input[type=submit]:focus, input[type=reset]:focus {
    outline: none;
    background-color: #e5e5e5;
    color: #212121; }
  button:disabled, .button:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/*=======================================
=            Color Modifiers            =
=======================================*/
.button-success, input[type=submit].button-success, input[type=reset].button-success {
  background-color: #2ecc71;
  border: none; }
  .button-success:hover, input[type=submit].button-success:hover, input[type=reset].button-success:hover, .button-success:focus, input[type=submit].button-success:focus, input[type=reset].button-success:focus {
    background-color: #29b765; }

.button-error, input[type=submit].button-error, input[type=reset].button-error {
  background-color: #e74c3c;
  border: none; }
  .button-error:hover, input[type=submit].button-error:hover, input[type=reset].button-error:hover, .button-error:focus, input[type=submit].button-error:focus, input[type=reset].button-error:focus {
    background-color: #cf4436; }

.button-warning, input[type=submit].button-warning, input[type=reset].button-warning {
  background-color: #f39c12;
  border: none; }
  .button-warning:hover, input[type=submit].button-warning:hover, input[type=reset].button-warning:hover, .button-warning:focus, input[type=submit].button-warning:focus, input[type=reset].button-warning:focus {
    background-color: #da8c10; }

.button-info, input[type=submit].button-info, input[type=reset].button-info {
  background-color: #2980b9;
  border: none; }
  .button-info:hover, input[type=submit].button-info:hover, input[type=reset].button-info:hover, .button-info:focus, input[type=submit].button-info:focus, input[type=reset].button-info:focus {
    background-color: #2473a6; }

/*======================================
=            Size Modifiers            =
======================================*/
.button-large {
  font-size: 1.2em; }

.button-small {
  font-size: 0.8em; }

/*===========================================================
=            Shame: Hacks that need to be fixed!            =
===========================================================*/
input[type="search"] {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container-full:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 6em auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.span-half {
  width: 44.44444%;
  float: left;
  margin-right: 11.11111%; }
  .span-half:last-of-type {
    width: 44.44444%;
    float: right;
    margin-right: 0; }

.span-third {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%; }
  .span-third:last-of-type {
    width: 28.57143%;
    float: right;
    margin-right: 0; }

header {
  padding: 3em;
  text-align: center; }
  header h1 {
    text-transform: lowercase;
    font-size: 3.051em;
    font-weight: bold;
    color: #e74c3c; }
  header .button, header input[type=submit], header input[type=reset] {
    margin: 1.5em 0.75em; }

p.intro {
  font-size: 1.4em;
  width: 500px;
  margin: 0 auto;
  color: #797979; }
  p.intro span {
    color: #2980b9; }

nav ul {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5em 0;
  background: #f7f7f7;
  margin: 0; }
  nav ul a {
    color: #212121;
    padding: 1.5em 0; }
    nav ul a:hover, nav ul a:active, nav ul a:focus, nav ul a .active {
      color: #e74c3c; }

.section-header {
  text-align: center;
  text-transform: lowercase;
  font-size: 3.051em;
  padding: 1.5em;
  background: #e74c3c;
  color: #ffffff;
  margin: 0; }

.section-header-sub {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5em;
  background: #f7f7f7;
  margin: 1.5em 0;
  font-size: 1.953em; }

.section-header + .section-header-sub {
  margin-top: 0; }

