button,
.button {
  -webkit-font-smoothing: antialiased;
  background-color: shade($color-light, 5%);
  border-radius: $base-border-radius;
  color: $color-dark;
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  padding: $base-spacing;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: $base-spacing / 2 0;
  font-family: $font-family-secondary;

  &:hover {
    background-color: shade($color-light, 10%);  
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.success {
    background-color: $color-success;
    color: $color-light;

    &:hover {
      background-color: shade($color-success, 10%); 
    }
  }

  &.error {
    background-color: $color-error;
    color: $color-light;
  
    &:hover {
      background-color: shade($color-error, 10%); 
    }
  }

  &.warning {
    background-color: $color-warning;
    color: $color-light;

    &:hover {
      background-color: shade($color-warning, 10%); 
    }
  }

  &.info {
    background-color: $color-info;
    color: $color-light;

    &:hover {
      background-color: shade($color-info, 10%); 
    }
  }

}

%large {
  padding: $base-spacing * 1.5;
}

%small {
  padding: $base-spacing / 2;
}