/*===================================
=            Base Button            =
===================================*/

button,
.button,
 {
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 $base-spacing 0;
    color: $color-dark;
    background: $color-light;
    border: 1px solid $color-border;
    padding: ($base-spacing / 2);
    border-radius: $base-border-radius;
    font-family: $font-family-secondary;

    &:hover, 
    &:focus {
    	outline: none;
    	background-color: $color-border;
    }

    &:disabled {
    	cursor: not-allowed;
    	opacity: 0.5;
  	}
}

/*=======================================
=            Color Modifiers            =
=======================================*/

.button-success {
	background-color: $color-success; 
	border: none;

	&:hover,
	&:focus {
		background-color: shade($color-success, 10%); 
	}
}

.button-error {
	background-color: $color-error; 
	border: none;

	&:hover,
	&:focus {
		background-color: shade($color-error, 10%); 
	}
}

.button-warning {
	background-color: $color-warning; 
	border: none;

	&:hover,
	&:focus {
		background-color: shade($color-warning, 10%); 
	}
}

.button-info {
	background-color: $color-info; 
	border: none;

	&:hover,
	&:focus {
		background-color: shade($color-info, 10%); 
	}
}

/*======================================
=            Size Modifiers            =
======================================*/

.button-large {
	font-size: 1.2em;
}

.button-small {
	font-size: 0.8em;
}