/*==============================
=            Tables            =
==============================*/

table {
    border-collapse: collapse;
    margin: $base-spacing 0;
    table-layout: fixed;
    width: 100%;
}

th {
    font-weight: bold;
    padding: ($base-spacing / 2);
    text-align: left;
    background: $color-border-light;
    border: 1px solid $color-border;
}

td {
    padding: ($base-spacing / 2);
    border: 1px solid $color-border;
}

tr,
td,
th {
  vertical-align: middle;
}

caption {
    font-weight: bold;
    padding: ($base-spacing / 2);
    text-align: center;
    border: 1px solid shade($color-light, 10%);
    border-bottom: none;
    background: $color-light;
}