/*============================
=            Base            =
============================*/

body {
	@include font-feature-settings("kern", "liga", "pnum");
	-webkit-font-smoothing: antialiased;
	font-family: $font-family-body;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

/*================================
=            Headings            =
================================*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: $font-family-heading;
	line-height: $base-heading-line-height;
	text-rendering: optimizeLegibility;
	font-weight: $base-heading-weight;
	margin: ($base-spacing * 0.2) 0 ($base-spacing * 0.5) 0;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

/*==============================
=            Anchor            =
==============================*/

a {
	text-decoration: none;
	color: $color-font-link;

	&:hover, &:active, &:focus {
		outline: none;
		color: shade($color-font-link, 20%);
	}
}

/*=========================================
=            Blockquote & Cite            =
=========================================*/

blockquote {
	margin: $base-spacing 0;
	color: tint($color-dark, 30%);
	padding: ($base-spacing / 2) 0 ($base-spacing / 2) $base-spacing;
	border-left: 3px solid $color-border;

	cite {
		display: block;
		font-style: italic;

		&:before {
			content: "\2014";
			margin: 0 ($base-spacing / 2) 0 0;
		}		
	}
}

/*==================================
=            Code & Pre            =
==================================*/

code, pre {
	background: $color-border;
}

pre {
	margin: $base-spacing 0;
	padding: ($base-spacing / 2) $base-spacing;
	border-radius: $base-border-radius;
}

/*==========================
=            hr            =
==========================*/

hr {
	border: none;
    height: 1px;
    background: $color-border;
    margin: $base-spacing 0;
}