/*====================================
=            Font Imports            =
====================================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

/*==============================
=            Colors            =
==============================*/

$color-primary: #e74c3c;
$color-secondary: #2980b9;
$color-dark: #212121;
$color-light: #ffffff;

$color-success: #2ecc71;
$color-error: #e74c3c;
$color-warning: #f39c12;
$color-info: #2980b9;

$color-border: shade($color-light, 10%);
$color-border-light: tint($color-border, 60%);

/*==================================
=            Typography            =
==================================*/

$font-family-primary: 'Open Sans', sans-serif;

$font-family-body: $font-family-primary;
$font-family-heading: $font-family-primary;

$color-font-base: $color-dark;
$color-font-link: $color-primary;

$modular-scale-base: em(16px);
$modular-scale-ratio: $major-third;

$base-font-size: modular-scale(0);
$base-line-height: modular-scale(2);
$base-heading-line-height: modular-scale(1);

$base-heading-weight: 400;

$h1-font-size: modular-scale(5);
$h2-font-size: modular-scale(4);
$h3-font-size: modular-scale(3);
$h4-font-size: modular-scale(2);
$h5-font-size: modular-scale(1);
$h6-font-size: modular-scale(0);

/*===================================
=            Base Sizing            =
===================================*/

$base-spacing: modular-scale(2);
$base-border-radius: 3px;