<section id="buttons" class="section-buttons">
    <h1 class="section-header">Buttons</h1>
    <div class="container">
        
        <div class="span-third">
            <div class="row">
                <button>button</button>
                <button disabled>disabled</button>
            </div>
            <div class="row">
                <button class="button-success">success</button>
                <button class="button-success" disabled>success</button>
            </div>
            <div class="row">
                <button class="button-error">error</button>
                <button class="button-error" disabled>error</button>
            </div>
            <div class="row">
                <button class="button-warning">warning</button>
                <button class="button-warning" disabled>warning</button>
            </div>
            <div class="row">
                <button class="button-info">info</button>
                <button class="button-info" disabled>info</button>
            </div>
            </div>
            <div class="span-third">
                <div class="row">
                    <button class="button-large">button</button>
                    <button disabled class="button-large">disabled</button>
                </div>
                <div class="row">
                    <button class="button-success button-large">success</button>
                    <button class="button-success button-large" disabled>success</button>
                </div>
                <div class="row">
                    <button class="button-error button-large">error</button>
                    <button class="button-error button-large" disabled>error</button>
                </div>
                <div class="row">
                    <button class="button-warning button-large">warning</button>
                    <button class="button-warning button-large" disabled>warning</button>
                </div>
                <div class="row">
                    <button class="button-info button-large">info</button>
                    <button class="button-info button-large" disabled>info</button>
                </div>
            </div>
            <div class="span-third">
                <div class="row">
                    <button class="button-small">button</button>
                    <button disabled class="button-small">disabled</button>
                </div>
                <div class="row">
                    <button class="button-success button-small">success</button>
                    <button class="button-success button-small" disabled>success</button>
                </div>
                <div class="row">
                    <button class="button-error button-small">error</button>
                    <button class="button-error button-small" disabled>error</button>
                </div>
                <div class="row">
                    <button class="button-warning button-small">warning</button>
                    <button class="button-warning button-small" disabled>warning</button>
                </div>
                <div class="row">
                    <button class="button-info button-small">info</button>
                    <button class="button-info button-small" disabled>info</button>
                </div>
            </div>
        </div>
    </section>