<div class="container">
    <section id="forms" class="section-forms">
        
        <h1 class="section-header">Forms</h1>
        
        <div class="span-half">
            <form>
                <label for="text">Text: </label>
                <input type="text"  name="text" placeholder="Placeholder">
                <label for="email">Email: </label>
                <input type="email"  name="email" placeholder="email@domain.com">
                <label for="number">Number: </label>
                <input type="number"  name="number" placeholder="10">
                <label for="password">Password: </label>
                <input type="password"  name="password" placeholder="password">
                <label for="tel">Phone: </label>
                <input type="tel"  name="tel" placeholder="555-5555">
                <label for="url">URL: </label>
                <input type="url"  name="url" placeholder="http://google.com">
                <label for="search">Search: </label>
                <input type="search" name="search" placeholder="search...">
                <label for="checkbox">Checkbox: </label>
                <input type="checkbox" name="checkbox" value="select-me">
                <label for="radio">Radio: </label>
                <input type="radio" name="radio" value="select-me">
                <label for="radio">Radio: </label>
                <input type="date" name="date">
                <label for="datetime">Datetime Local: </label>
                <input type="datetime-local" name="datetime">
                <label for="time">Time: </label>
                <input type="time" name="time">
                <label for="week">Week: </label>
                <input type="week" name="week">
                <label for="month">Month: </label>
                <input type="month" name="month">
                <label for="color">Color: </label>
                <input type="color" name="color">
                <label for="range">Range: </label>
                <input type="range" name="range">
                <label for="file">File: </label>
                <input type="file" name="file">
                <input type="reset" name="reset">
                <input type="submit">
            </form>
        </div>
        <div class="span-half">
            <form>
                <fieldset>
                    <legend>Other inputs</legend>
                    <label for="select">Select: </label>
                    <select name="select">
                        <option value="v1">Lorem ipsum.</option>
                        <option value="v2">Doloribus, tempore.</option>
                        <option value="v3">Nemo, ducimus.</option>
                    </select>
                    <label for="textarea">Text Area:</label>
                    <textarea placeholder="Enter your comment..."></textarea>
                    <input type="submit" class="button-warning" value="Warning submit">
                </fieldset>
            </form>
        </div>
    </section>
</div>