<section id="tables" class="section-tables">
    <h1 class="section-header">Tables</h1>
    <div class="container">
            <table>
    <tr>
        <td>Name</td>
        <td>Side</td>
        <td>Role</td>
    </tr>
    <tr>
        <td>Obi Wan Kenobi</td>
        <td>Light</td>
        <td>Jedi</td>
    </tr>
    <tr>
        <td>Greedo</td>
        <td>South</td>
        <td>Scumbag</td>
    </tr>
</table>

<table>
    <caption>Contact Information</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mills Mueller</td>
            <td>38</td>
            <td>millsmueller@netplode.com</td>
        </tr>
        <tr>
            <td>Berg Jimenez</td>
            <td>33</td>
            <td>bergjimenez@netplode.com</td>
        </tr>
    </tbody>
</table>
        </div>
</section>