<div class="container">
    <section id="typography" class="section-typography">
        
        <h1 class="section-header">Typography</h1>
        <p class="section-header-sub">Headings</p>
        <h1>This is a very large header.</h1>
        <h2>This is a large header.</h2>
        <h3>This is a medium header.</h3>
        <h4>This is a moderate header.</h4>
        <h5>This is a small header.</h5>
        <h6>This is a tiny header.</h6>
        <p class="section-header-sub">Sub-Headings</p>
        <h1 class="subheader">h1.subheader</h1>
        <h2 class="subheader">h2.subheader</h2>
        <h3 class="subheader">h3.subheader</h3>
        <h4 class="subheader">h4.subheader</h4>
        <h5 class="subheader">h5.subheader</h5>
        <h6 class="subheader">h6.subheader</h6>
        <p class="section-header-sub">Inline Elements</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet quas itaque unde sapiente animi tempore mollitia sed maxime officiis. Repudiandae tenetur, libero id ab!</p>
        <p>You can also add <code>strong</code> tags to make text <strong>bold!</strong></p>
        <p>You can also add <code>em</code> tags to <em>emphasize</em> text!</p>
        <p><a href="https://www.youtube.com/watch?v=J---aiyznGQ">Click here</a> to watch a cat playing a piano</p>
        <p class="section-header-sub">Lists</p>

        <div class="container">

        <div class="span-half">
            <ul>
                <li>List item with a much longer description or more content.</li>
                <li>List item</li>
                <li>List item
                    <ul>
                        <li>Nested list item</li>
                        <li>Nested list item</li>
                        <li>Nested list item</li>
                    </ul>
                </li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
        </div>
        <div class="span-half">
            <ol>
                <li>List item with a much longer description or more content.</li>
                <li>List item</li>
                <li>List item
                    <ol>
                        <li>Nested List Item</li>
                        <li>Nested List Item</li>
                        <li>Nested List Item</li>
                    </ol>
                </li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ol>
        </div>

        </div>

        <p class="section-header-sub">Definition List</p>

        <dl>
            <dt>Lorem ipsum dolor.</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempora atque nemo, rem quas deserunt!</dd>
            <dt>Consectetur adipisicing elit. Accusantium, quod.</dt>
            <dd>Ex nostrum officia ducimus nobis labore perspiciatis, obcaecati nihil facere repellendus at temporibus provident ut delectus eum. Vel!</dd>
        </dl>  

        <p class="section-header-sub">Blockquote</p>
        <blockquote>
            An unexamined life is not worth living.
            <cite>Socrates</cite>
        </blockquote>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum ducimus incidunt deserunt, temporibus soluta ipsam quibusdam optio repellat aspernatur, aliquid provident alias sunt inventore autem quod magni pariatur odit aut corporis ea. Vel saepe omnis quos repellendus, sunt architecto iure, modi alias ratione minima, quisquam libero cum voluptatum expedita?
            <cite>Lorem ipsum dolor sit amet.</cite>
        </blockquote>


    </section>
</div>