<section id="typography" class="section-typography">
    <h1 class="section-header">Typography</h1>
    <p class="section-header-sub">Headings</p>
    <div class="container">
        <h1>This is a very large header.</h1>
        <h2>This is a large header.</h2>
        <h3>This is a medium header.</h3>
        <h4>This is a moderate header.</h4>
        <h5>This is a small header.</h5>
        <h6>This is a tiny header.</h6>
    </div>
    <p class="section-header-sub">Inline Elements</p>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet quas itaque unde sapiente animi tempore mollitia sed maxime officiis. Repudiandae tenetur, libero id ab!</p>
        <p>You can also add <code>strong</code> tags to make text <strong>bold!</strong></p>
        <p>You can also add <code>em</code> tags to <em>emphasize</em> text!</p>
        <p><a href="https://www.youtube.com/watch?v=J---aiyznGQ">Click here</a> to watch a cat playing a piano</p>
        <p class="section-header-s
        <div class="container">
            <div class="span-half">
                <ul>
                    <li>List item with a much longer description or more content.</li>
                    <li>List item</li>
                    <li>List item
                        <ul>
                            <li>Nested list item</li>
                            <li>Nested list item</li>
                            <li>Nested list item</li>
                        </ul>
                    </li>
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>
            <div class="span-half">
                <ol>
                    <li>List item with a much longer description or more content.</li>
                    <li>List item</li>
                    <li>List item
                        <ol>
                            <li>Nested List Item</li>
                            <li>Nested List Item</li>
                            <li>Nested List Item</li>
                        </ol>
                    </li>
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ol>
            </div>
        </div>
    </div>
    <p class="section-header-sub">Definition List</p>
    <div class="container">
        <dl>
            <dt>Lorem ipsum dolor.</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempora atque nemo, rem quas deserunt!</dd>
            <dt>Consectetur adipisicing elit. Accusantium, quod.</dt>
            <dd>Ex nostrum officia ducimus nobis labore perspiciatis, obcaecati nihil facere repellendus at temporibus provident ut delectus eum. Vel!</dd>
        </dl>
    </div>
    <p class="section-header-sub">Blockquote</p>
    <div class="container">
        <blockquote>
            An unexamined life is not worth living.
            <cite>Socrates</cite>
        </blockquote>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum ducimus incidunt deserunt, temporibus soluta ipsam quibusdam optio repellat aspernatur, aliquid provident alias sunt inventore autem quod magni pariatur odit aut corporis ea. Vel saepe omnis quos repellendus, sunt architecto iure, modi alias ratione minima, quisquam libero cum voluptatum expedita?
            <cite>Lorem ipsum dolor sit amet.</cite>
        </blockquote>
    </div>
    <p class="section-header-sub">Code</p>
    <div class="container">
        <p>Inline code looks like <code>this</code></p>
        <pre><code>
function greet(greeting) {
    console.log(greeting;)
}
</code></pre>
    </div>
    <p class="section-header-sub">hr</p>
    <div class="container">
        <hr>
    </div>
</section>